openai
llama-index
nltk
langchain
pyttsx3
SpeechRecognition
gtts
langchain_community
chromadb
llama-index-embeddings-langchain
SpeechRecognition
pyttsx3
openai
openapi-schema-pydantic
flask
pygame
PyAudio
