streamlit
openai
llama-index
nltk
langchain
pyttsx3
streamlit-webrtc 
SpeechRecognition
gtts
langchain_community
chromadb
sentence-transformers
llama-index-embeddings-langchain
SpeechRecognition
pyttsx3
openai
openapi-schema-pydantic
flask
pygame
PyAudio
